<html>
  <head></head>
  <body class="container">
    <div class="row px-5 header">
      <div class="circle">Y/N</div>
      <div class="col ml-5">
        <h3 class="row name">YOUR&#10;NAME</h3>
        <h6 class="row title">YOUR TITLE</h6>
      </div>
    </div>
    <div class="row body">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">PROFILE</h5>
            <p class="card-text">Talk about you and your background in this section.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CONTACT</h5>
            <ul class="card-text fa-ul">
              <li><fa-icon [icon]="faPhoneAlt" class="mr-3"></fa-icon>123-456-7890</li>
              <li><fa-icon [icon]="faHome" class="mr-3"></fa-icon>City, State</li>
              <li><fa-icon [icon]="faEnvelope" class="mr-3"></fa-icon>name@email.com</li>
              <li><fa-icon [icon]="faGlobe" class="mr-3"></fa-icon>ayourwebsite.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row body">
      <div class="card col-sm-12">
        <h5 class="card-title">EXPERIENCE</h5>
        <div class="col-sm-12" [chart]="timelineChart"></div>
      </div>
    </div>
    <div class="row body">
      <div class="card col-sm-6">
        <h5 class="card-title">SKILLS</h5>
        <div class="col-sm-12" [chart]="doughnutChart"></div>
      </div>
      <div class="card col-sm-6">
        <h5 class="card-title">PROGRAMS</h5>
        <div class="col-sm-12" [chart]="barChart"></div>
      </div>
    </div>
  </body>
</html>